body{
    background-color: black;
}


.title-img{
    width:1660px;  /* this need to be check again since this size follow laptop size */  
    height: 600px;
}

@media (max-width:1028px){
/*this image */
    .title-img{
        max-width:100%;
    }

}

.container-title{
    font-family: 'Cuprum', sans-serif;
    color:aliceblue;
    text-align: right;
}
.title-font1{

   position: absolute;
   top: 25%;
   left: 10%;

}
.title-font2, .title-font3, .resort-details{
    font-family: 'Oswald', sans-serif;
}

.title-font2 ,.title-font3{
    position: absolute;
    top: 30%;
    left: 10%;

 }

  .title-font3{
    position: absolute;
    top: 38%;
    left: 10%;
  } 


 /* NAV BAR */
 /* this for the space gap between navbar and hit  */
 /* height for the navbar */
.navbar{
    padding: 0 0 .5rem;
    text-transform: capitalize;
}

/* Logo brand */
.navbar-brand{
   font-family: 'Oswald', sans-serif;
    font-size:1.5rem;
    
}

.nav-item{
    padding: 0 18px;
}

/* main menu dropdown */
.nav-link{
    font-size: 0.9rem;
    font-family: "Cuprum", sans-serif;
    font-weight: bold;
}

/* Resort Section */
.white-section{
    background-color: aliceblue;
    padding: 7% 10%;
}

.description{
    text-align: justify;

}
#resort{
    
    background-color: #fff;
    /* position: relative; */
    /* z-index: 1; */
}

.description{
    font-family: "Cuprum", sans-serif;
    font-size: 24px;
}

/* Room Section*/

.black-section{
    background-color: black;
    padding: 7% 10%;
}

.title-details{
    color: aliceblue;
    font-family: "Cuprum", sans-serif;
    text-align:center;
}

.contents-description{
    color: aliceblue;
    top: 40px;
    text-align: justify;
    padding:0% 0% 3% 0%;
    position: relative;
    font-family: "Cuprum", sans-serif;
    font-size: 23px;

}

.room-image {
    width: 500px;
    height: 400px;    
}


/* Meeting Section */

.header-meeting{
    font-family: 'Oswald', sans-serif;
}
.meeting-description{
    text-align: justify;
    padding:0% 3% 3% 0%;
    position: relative;
    font-family: "Cuprum", sans-serif;
    font-size: 23px;

}
/* SPA section */
.contents-img{
    width: 500px;
    height: 400px;
    position: relative;
}

.meeting-img{
    width: 550px;
    height: 400px;
    position: relative;
}

/* Activities */
.activities{
    color: black;
}

/* laptop version */
/*@media only screen and (max-width: 1100px) {
    .activity-text{
        position: relative;
        text-align: justify;
        width: 1000px; 
        }
        
        .activity-img{
        width: 30%;
        position: absolute;
        bottom:70px;
        }
        

}
*/


.activity-text{
position: relative;
text-align: justify;
width: 500px; /*This is for the gap between the text and image therfore this only effect on text not img*/ 
}

.activity-img{
width: 40%;
position: absolute;
bottom:0px;
}

.carousel-item{
padding: 4% 10%;
}

.banana{
    width: 40%;
    position: absolute;
    top: 70px;
}

.activitiesarrowicon {
    filter: invert(100%);
}



/* Footer */
/* copyright */
#footer{
    text-align: center;
    padding: 6% 15%;
    color: #fff;

}

/* icon gap */
.social-icon{
    width:1%; 
    margin: 20px 20px 50px;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 4px;
} 
 
#myBtn:hover {
    background-color: #555;
  }